


<div class="content">
    <div class="menu" [ngClass]="{'menuView': menuService.menuView == true}">
      <div class="buttons">
        <button mat-button [routerLink]="['/admin']">Inicio</button>
  
        <!-- Botón principal con toggle para submenú -->
        <button mat-button (click)="toggleRecetasSubmenu()">Administrar Recetas</button>
  
        <!-- Submenú -->
        <div *ngIf="showRecetasSubmenu" class="submenu">
          <button mat-button [routerLink]="['/recetas']">Recetas</button>
        </div>
        <div *ngIf="showRecetasSubmenu" class="submenu">
          <button mat-button [routerLink]="['/categorias']">Categorias</button>
        </div>
  
        <!-- Otro contenido -->
        <button *ngIf="isadmin" mat-button [routerLink]="['/useradmin']">Administrar Usuarios</button>
      </div>
    </div>
  </div>