<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

     <!-- Columna Título -->
     <ng-container matColumnDef="title" >
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let receta" [routerLink]="['/recetaselected']" [queryParams]="{recetaId: receta._id}"> {{ receta.title }} </td>
    </ng-container>
  
    <!-- Columna Nutricionista -->
    <ng-container matColumnDef="nutricionista">
      <th mat-header-cell *matHeaderCellDef> Nutricionista </th>
      <td mat-cell *matCellDef="let receta"> {{ receta.nutricionista }} </td>
    </ng-container>

    <!-- Columna Imagen -->
    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef> Imagen </th>
      <td mat-cell *matCellDef="let receta">
        <img class="img" *ngIf="receta.img" [src]="receta.img" alt="Imagen" width="50" [routerLink]="['/recetaselected']" [queryParams]="{recetaId: receta._id}">
      </td>
    </ng-container>
  

    <ng-container matColumnDef="iconos">
      <th mat-header-cell *matHeaderCellDef> Icon </th>
      <td mat-cell *matCellDef="let receta">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" (click)="deleteReceta(receta._id)"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit_square" [routerLink]="['/updatereceta']" [queryParams]="{recetaId: receta._id}"></mat-icon>
      </td>
    </ng-container>

   

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <!-- Paginador -->
  <mat-paginator 
    [length]="totalRecetas"
    [pageSizeOptions]="[10]"
    showFirstLastButtons>
  </mat-paginator>
  