.contenedor{
    width: 100%;
   
    
}

.table-container {
    width: 80%;
    margin: auto;
  }
  
  table {
    width: 80%;
  }
  
  .img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 3px;
  }

  mat-paginator {

    margin-top: 10px;
  }