<div class="contenedor">

    <mat-card *ngFor="let receta of allRecetas">
        <mat-card-content [routerLink]="['/recetaselected']" [queryParams]="{recetaId: receta._id}">
            <div class="recetas">
                <div class="info">
                    <img  mat-card-image src="{{receta.img}}" alt="">
                    <p>{{receta.title}}</p>
                </div>
                <div class="buttons">
                    <mat-icon aria-hidden="false" aria-label="Ejemplo de icono de inicio" fontIcon="delete" (click)="deleteReceta(receta._id)"> </mat-icon>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
    </mat-card>

</div>