.content {
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: rgb(241, 241, 241);

    .contenedor {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-y: auto;
        align-items: center;
        background-color: white;

        mat-tab-group {
            width: 100%;
            .contentForm{
                width: 100%;
                display: flex;
                justify-content: center;
                .form {
                    display: flex;
                    flex-direction: column;
                    padding: 15px;
                    width: 600px;
    
                    .file {
                        padding: 10px;
                    }
    
                    
                    button {
                        background-color: #2E4A4D;
                        color: white;
                    }
                }
            }
            
        }

    }
}