<app-header></app-header>
<app-toolbar></app-toolbar>
<div class="content">
    <ng-container *ngIf="loadingChildren">
        <app-load-spinner></app-load-spinner>
      </ng-container>
    <app-menu-lateral></app-menu-lateral>
    <div class="contenedor">
        <mat-tab-group>
            <mat-tab label="Crear una nueva receta">
                <app-create-receta></app-create-receta>
            </mat-tab>
            <mat-tab label="Recetas">
                <app-list-recetas (loaded)="onChildLoaded()"></app-list-recetas>    
            </mat-tab>
        </mat-tab-group>
    </div>
</div>